<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LibrosServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LibrosServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44388/LibrosService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LibrosServiceSoap"
                contract="BibliotecaServiceReference.LibrosServiceSoap" name="LibrosServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>